.jumbotron{
  background-image: url("../images/veg.jpg");
  margin-bottom:0px;
  color:#000000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.navbar-custom{
  background-color:#212121;
  color:black;
  margin-bottom: 0px;
  border-radius: 0px;
}
.navbar {
  position: relative;
  min-height: 20px;
}
.navbar-custom .navbar-nav .open .dropdown-menu> li> a,
.navbar-custom .navbar-nav .open .dropdown-menu {
    background-color: #3a3a3a;
    color:#eeeeee;
}
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  color:white;
  background-color: #3a3a3a;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #3a3a3a;
}
.navbar-brand:focus, .navbar-brand:hover{
  color: #3a3a3a;
}
.navbar-toggle{
  border-color: #333;
}
.navbar-toggle>.icon-bar{
  background-color: white;
}
.navbar-brand,.navbar-nav>li>a{
  color:#9d9d9d;
}
footer{
  background-color: #F2F2F2;
  color:#333;
}
.img-thumbnail{
  width: 30%;
  height: 30%;
}
.img-thumbnailAlt{
  width: 10%;
  height: 10%;
}
.img-thumbnailAlt1{
  width: 30%;
  height: 30%;
}
.row{
  margin-bottom: 20px;
  margin-top:20px;
}
.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-height: 55px;
  width: 100%;
  margin: auto;
}
.carousel-control{
	width:20%;
}
.glyphicon-chevron-right{
	color:#3e8f3e;
}
.glyphicon-chevron-left{
	color:#3e8f3e;
}
